/*activities*/

#container_article {
    width: 95%;
    height: auto;
    box-sizing: content-box;
    padding: 2%;
    padding-top: 8%;
    background-color: #6d4d55;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

#article {
    display: block;
    width: 95%;
    height: auto;
    box-sizing: content-box;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgba(168, 158, 150, 0.781);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border-radius: 8px;
}

#div_article_info {
    width: 95%;
    margin-right: 10px;
    box-sizing: content-box;
    padding-bottom: 2%;
}

#div_article_header {
    display: inline-flex;
    width: 95%;
}

#article img {
    width: 200px;
    height: auto;
    padding: 2%;
    border: 2px solid #ccc;
    border-radius: 8px;
}

#article h1 {
    color: rgb(12, 38, 61);
}

#article h2 {
    color: rgb(19, 58, 92);
}

#article h5 {
    color: rgba(6, 45, 78, 0.747);
    float: right;
}

#article span {
    text-align: justify;
    color: rgba(240, 248, 255, 0.699);
}

#article h4 {
    margin-top: 15px;
    float: right;
    text-align: justify;
    color: rgba(222, 238, 252, 0.342);
}

#div_article_header_info {
    margin-left: 2%;
}