#container_facebok_live_url {
    display: none;
    position: fixed;
    width: 30%;
    background: rgb(204, 193, 193);
    box-sizing: content-box;
    border-radius: 8px;
    padding: 2%;
    margin-left: 30%;
    margin-right: auto;
    margin-top: 15%;
}

#container_facebok_live_url div {
    display: inline-flex;
    height: 50px;
}

#container_facebok_live_url h2 {
    color: rgb(65, 107, 145);
    margin-right: 15px;
}

#img_facebook_live {
    width: 70px;
    height: 20px;
}

#container_facebok_live_url input[type="text"] {
    border-radius: 8px;
    width: 350px;
}

#container_facebok_live_url input[type="submit"] {
    border-radius: 8px;
}

#container_facebok_live_url h5 {
    color: rgb(51, 76, 99);
}

#img_close {
    width: 30px;
    height: 30px;
    float: right;
    position: relative;
    top: -25px;
    left: 24px;
}


/*------------------RESPONSIVE--------------------------*/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    #container_facebok_live_url {
        text-align: center;
        width: 85%;
        margin-left: 2%;
        margin-top: 30%;
    }
    #container_facebok_live_url h2 {
        font-size: 15px;
    }
    #container_facebok_live_url input[type="text"] {
        width: 70%;
    }
}